/*// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
	line-height: 15px;
}

.catmin {
	display: block;
	width: 500px;
}

.cat {
	display: flex;
	flex-wrap: nowrap;
	margin: 10px;
}

